@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Montserrat:wght@500;700;800;900&display=swap%27');

body{
    background-color: #100f2f;
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background-image: url(assets/fond.jpg);
    width: 100vw;
    color: white;
    opacity: 85%;
}

.infos{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
}

input{
    border: 0px;
    background-color: #232144;
    height: 40px;
    width: 450px;
    border-radius: 4px;
    color: white;
}
.buttonlogin{
    margin-top: 20px;
    display: flex;
    justify-content:flex-start;
    margin-left: 407px;
    height: 45px;
}

::placeholder{
    color: grey;
    background-color: #232144;
}


#but{
    font-family: 'Asap',sans-serif;
    font-size: 13px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 2px;
    width: 100px;
}