body {
  font-family: "Asap", sans-serif;
  background-color: rgb(16, 15, 47);
  overflow-x: hidden;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.deco-header {
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background-image: linear-gradient(
      to bottom,
      rgba(19, 4, 31, 0.42),
      rgba(23, 8, 51, 0.73)
    ),
    url(../assets/fond.jpg);
  color: white;
  letter-spacing: 2px;
  font-size: 1.7em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

main {
  margin-top: 10em;
  padding-bottom: 1vh;
}

h3 {
  color: white;
}

.table-features {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid rebeccapurple;
}
.active {
  display: block;
}

.inactive {
  display: none;
}

.game-grid {
  position: relative;
  border: 2px solid blue;
  min-height: 100vh;
  height: 100%;
  width: 95vw;
  margin: auto;
}
table {
  border-spacing: 10px;
  border-collapse: separate;
  margin: auto;
  height: 70vh;
  width: 100%;
  border: 2px solid red;
}

td {
  padding: 0;
}

tr {
  border: 2px solid gray;
  padding: 10px;
}

.case {
  background-color: #1a1933;
  width: 100%;
  height: 100%;
  /*aspect-ratio: 2/2;*/
  display: flex;
  align-items: center;
  pointer-events: auto;
}

.table-features {
  width: 40%;
  margin: 2em auto;
  color: white;
}

.difficulty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5em;
  width: max-content;
  padding: 0;
}

.difficulty div {
  padding: 0.5em;
  border-radius: 10px;
}

#difficulty-choice label {
  display: block;
  margin: 10px;
  width: 80%;
  padding: 0.5em;
  border-radius: 20px;
}

.easy {
  background-color: #23ec2d;
}

.medium {
  background-color: #ec9123;
}

.expert {
  background-color: #f53a3a;
}

.impossible {
  background-color: #9b23ec;
}

.theme {
  font-size: 1em;
  display: flex;
  width: max-content;
  flex-direction: column;
}

.theme div {
  border-radius: 10px;
}

.pokemon {
  background-image: url(../assets/pokeball.svg);
  background-size: 30px;
}

.flags {
  background-image: url(../assets/flag.svg);
  background-size: 30px;
}

.cars {
  background-image: url(../assets/car.svg);
  background-size: 30px;
}

h3 {
  color: white;
}
