@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Montserrat:wght@500;700;800;900&display=swap%27');

body{
    margin: 0;
}
header{
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    align-items: center;
<<<<<<< HEAD
    height: fit-content;
=======
>>>>>>> 210116cf3ec0822f9613100ef5d344c11e3a2446
    width: 80%;
    margin: auto;
}

.logo{
    font-size: 1.2em;
<<<<<<< HEAD
    margin-top: 1.2em;
=======
>>>>>>> 210116cf3ec0822f9613100ef5d344c11e3a2446
}

header nav{
    width: 40%;
    
}
header ul{
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    align-items: flex-start;
    width: 80%;
    font-size: 0.9em;
    font-weight: 700;
=======
    width: 100%;
    font-size: 0.9em;
>>>>>>> 210116cf3ec0822f9613100ef5d344c11e3a2446
    margin: 0;
    max-height: 5em;
    box-sizing: border-box;
}

header li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
<<<<<<< HEAD
    padding: 3em 0em;
=======
    padding: 2.5em 0em;
>>>>>>> 210116cf3ec0822f9613100ef5d344c11e3a2446
}

/* ============= Hover ================ */

header a:hover{
    border-top:3px solid #ec9123;
    color: #ec9123;
}