@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Montserrat:wght@500;700;800;900&display=swap%27');

body{
    margin: 0;
}
nav{
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    align-items: center;
    width: 80%;
    margin: auto;

}

.logo{
    font-size: 1.2em;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 0.9em;
    margin: 0;
    max-height: 5em;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    padding: 2em 0em;
}

/* ============= Hover ================ */

a:hover{
    border-top:3px solid #ec9123;
    color: #ec9123;
}