@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Montserrat:wght@500;700;800;900&display=swap%27');


body{
    background-color: rgb(16, 15, 47);
    font-family: 'Asap', sans-serif;
    color: #d1d2f8;
}

.landing-page{
    width: 100%;
    height: 100vh;
    color: white;
    background-image:  linear-gradient(to bottom, rgba(19, 4, 31, 0.42), rgba(23, 8, 51, 0.73)), url(../assets/game-lan.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 40%;

}

.home{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 13% auto;
    text-align: center;
    align-items: center;
    
}

.home h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 7em;
    margin: 0;
    font-weight:800;
    line-height:1em;
}

.home p{
    font-size: 1.7em;
    margin: 0;
    padding: 1em;
    color: #d1d2f8;

}

.play-btn{
    font-size: 1.5em;
    background-color: #ec9123;
    font-weight: 600;
    padding: 0.9em 0;
    width: 8em;
    margin-top: 1.5em;
}

/* ========================================================*/

.website-content{
    padding: 0 13%;
}

/* ================ DESC Section ==========================*/

.description{
    padding: 7em 0;
}
.list-image{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.list-image img:nth-child(1){
    width: 50%;
}

.desc-text{
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
    margin-top: 3em;
}
.desc-el{
    display: flex;
    align-items: flex-start;
    width: 30%;
    justify-content: space-between;
    line-height: 1.7em;
}

.desc-el h3{
    color: white;
    margin-top: 0;
    font-size: 1.4em;
}

.desc-el h2{
    font-size: 3em;
    color: #38259e;
    margin-top: 0;
    font-weight: 800;
}

.desc-el div{
    width: 80%;
}

/* ======================== Games Status ====================*/

.games-status{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    padding: 8% 0;
}

.games-status img{
    width: 50%;
}

.game-stats{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    row-gap: 1em;
    column-gap: 1em;
    justify-content: space-evenly;

}


.box{
    width: 45%;
    max-height: 45%;
    background-color: aliceblue;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.box span{
    margin-top: 0.7em;
    font-size: 1.5rem;
    font-weight: 700;
}

.box:nth-child(1){
    background-color: #3724A0;
}
.box:nth-child(2){
    background-color: #18A15F;
}
.box:nth-child(3){
    background-color: #B91CA8;
}
.box:nth-child(4){
    background-color: #EC9123;
}

/*==================== Section Team ====================*/

.team{
    color: white;
    text-align: center;
    line-height: 1em;
    padding-bottom: 6em;
}

.team h2{
    font-size: 3.7em;
}

.team p{
    font-size: 1.2em;
}

.team img{
    width: 20%;
    
}

.cardbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.5em;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #0d0b26;
    padding: 2.5em 0;
    margin: 1em;
}

.avatar{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
}

.card h3{
    font-size: 1.5em;
    margin-top: 2em;
}

.card h4{
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
    
}

.card ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
    padding: 0;
    margin: -10px 0 0 0;
}

.card ul i{
    font-size: 1.5em
}
.card ul li{
    margin: 0;
    list-style: none;
    display:block;

}