@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Montserrat:wght@500;700;800;900&display=swap%27");

body {
  background-color: #100f2f;
}

.deco-header {
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background-image: linear-gradient(
      to bottom,
      rgba(19, 4, 31, 0.42),
      rgba(23, 8, 51, 0.73)
    ),
    url(../assets/fond.jpg);
  color: white;
  letter-spacing: 2px;
  font-size: 1.7em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.infos {
  margin-top: 7%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  margin-left: 1%;
}

input {
  border: 0px;
  background-color: #232144;
  height: 40px;
  width: 450px;
  border-radius: 4px;
  color: white;
}
.buttonregister {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  height: 45px;
}

::placeholder {
  color: grey;
  background-color: #232144;
}

#but {
  font-family: "Asap", sans-serif;
  font-size: 13px;
  background-color: #ec9123;
  color: white;
  border: none;
  border-radius: 2px;
  width: 100px;
}

#but:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
  transition: 10ms;
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  padding: 3%;
}

.mess-erreur{  
  width: 50%;  
  color: #ec9123;  
  font-family: 'Asap',sans-serif;  
  font-size: 0.7em;
}

.mess-validation{   
  color: #ec9123;  
  font-size: 0.8em;  
  font-family: 'Asap',sans-serif;
}