@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Montserrat:wght@500;700;800;900&display=swap%27");

body {
  background-color: #100f2f;
  margin: 0;
}

.deco-header {
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background-image: linear-gradient(
      to bottom,
      rgba(19, 4, 31, 0.42),
      rgba(23, 8, 51, 0.73)
    ),
    url(../assets/fond.jpg);
  color: white;
  letter-spacing: 2px;
  font-size: 1.7em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

.scores-table {
  padding: 5% 0;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: auto;
  font-family: "Asap", sans-serif;
  text-align: left;
}

thead {
  background-color: #ec9123;
  height: 50px;
}
th {
  color: #100f2f;
  padding-left: 1em;
}

td {
  color: white;
  background-color: #0d0b26;
  padding: 20px;
}


.filter-box{
  margin-right: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
  
 

}

.dropdown{
  display: inline-block;
  position: relative;

}

.filter-dropdown-button{
  background-color: #ec9123;
  font-family: "Montserrat", sans-serif;
  color: #0d0b26;
  border:none;
  font-weight: bold;
  padding: 6px;


 
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 0;

}

.dropdown-category{
  color: black;
  
  text-decoration: none;
  display: block;
}





.pseudo-research{

  max-width: 150px;
  padding: 6px;
  background-color: #ec9123;  
  border:none;
  color: #0d0b26;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  
}

::placeholder{
  color: #0d0b266c;
  border:none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 6px;
}

